@import 'normalize.css/normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  width: 100vw;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
